<%- include('header.html') %>
	<div class="uk-container">
		<h2>Signing up as an arbiter</h2>

		<p>Contracts with arbitration feature of Obyte platform has one major advantage for users: there is a third party arbiter that can resolve any disputes during contract fulfillment. Any user can become an arbiter, making profits by resolving conflicts between users during contract negotiations. Although being a professional lawyer is best option to become an arbiter, nothing can stop any human from signing up as an arbiter and helping other Obyte users. In the end, its up to users to pick the arbiter they think can fit their needs best, thus having a wide variety of arbiters on ArbStore will only be better, never worse.</p>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>1. Pair with the ArbStore by clicking "SIGN UP" button on the home page of ArbStore. Your installed Obyte wallet will open and pair with the ArbStore correspondent, revealing chat window with welcome message.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_welcome.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>2. ArbStore will ask you to attest through Real Name Attestation bot first, which is available through Bot Store tab on Chat page of your wallet. Save your private profile that Real Name Attestation bot sent you by clicking on it after attestation process is finished.</p>
				<p>Real name attestation is required for added credibility, but you do not have to reveal your real name during signing up as arbiter.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/userguide_rna.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>3. Now go back to ArbStore chat. Insert your attested address by clicking the "<b>Insert my address</b>" button.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_insertaddress.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>4. ArbStore will ask you to sign a message first to prove you are the owner of the address. Click the link inside the message to sign it. Double check that you signing the message that clearly expresses your current intentions of signing up as an arbiter with the correct address.</p>
				<p>After signature was sent, ArbStore will ask if you wanna stay anonymous or reveal your real name to users. Pick and click any that you want.</p>
				<p>When your revealed your profile (or stayed anonymous), ArbStore will send you your personal secret link to ArbStore web site to continue filling your arbiter profile. Go for it.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_profile.png" width="400" height="578" uk-img/>
			</div>
		</div>
		
		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>5. Fill all the fields on the web page. Be short but clear. Write down the ways that users and ArbStore moderators can reach you outside of Obyte platform.</p>
				<p>Then pick the specializations (topics of the contracts) that you are good at and are interested to resolve. When specializations are picked, you need to state the approximate fee for your service of resolving contracts of each topic.</p>
				<p>Select the languages that you speak.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_arbstore.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>6. When web form was successfullly sent, ArbStore will send you a payment request to fill up your deposit with min amount. The amount and asset of the deposit depends on ArbStore configuration. Deposit is used as a source for funds to compensate users for incorrect arbiter decisions or any other missbehavior. Deposit should always have enough funds (at least min amount that you was asked for during this step) to make your arbiter listing visible for users.</p>
				<p>Wait for the payment to be confirmed in Obyte network.</p>
				<p>Last step, you will be asked for permanent pairing code that will be used by users and ArbStore moderators to chat with you in case they want or need to.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_payment.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>Success! ArbStore posted announcement unit revealing to the network that new arbiter is now signed up on this ArbStore and ready to work.</p>
				<p>You can check that your listing is visible on <a href="/">ArbStore arbiters list</a>.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_done.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>From now on, you can change your listing details or completely hide it from ArbStore by sending commands to ArbStore through the chat.</p>
				<p>Send <b>help</b> in the chat to see the list of available commands.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_help.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<h2>Resolving disputes</h2>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>When users that picked you as an arbiter in their contract decide that they need your help and raise a dispute, you will receive a message from ArbStore in chat with full info about the contract and contract parties.</p>
				<p>Most important link is the first one which starts with <i>"Dispute request for contract..."</i>. Clicking it will open the window with the contract that was disputed by one of the contract sides and that you need to resolve.</p>
				<p>Second link is used to set your service fee for resolving this dispute.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_dispute.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>1. First, read the contract. Then pair with both parties by clicking <b>pair</b> links in contract window. Gather all the evidences and the information you need to make your decision.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_contract.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>2. Decide on the fee that the plaintiff will pay for your work. Click the link in chat message from ArbStore (1), it will pre-fill the input field for you in chat with the formatted message containing three fields separated by new lines:</p>
				<ul>
					<li>contract_hash</li>
					<li>amount</li>
					<li>comment</li>
				</ul>
				<p>Now change the amount (2) to the desired value, the asset of the amount is displayed in the message from the ArbStore. On the screenshot the asset is in GB, so the amount will be in GB.</p>
				<p>Change or leave untouched the comment. It will be visible to plaintiff, so it always good to add some details into it, explaining the amount you asking for or other things in it. At least replace the phrase <i>"OPTIONAL COMMENT ...."</i> with some more appropriate text.<br> Leave the contract title there, it will help both you and plaintiff to associate the fee payment request with the contract itself later.</p>
				<p>Send the message. ArbStore will then ask the plaintiff to pay for your services the exact amount you stated, locking the funds in your deposit. You will be notified when the payment is received.</p>
				<p><b>IMPORTANT</b>: You can re-send the same message, changing the amount or the comment, but it will trigger more payment requests to the plaintiff, so use this with caution.</p>
				<p>Along with the payment request, plaintiff receives your pairing code, so they can chat with you if they have any questions.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_fee.png" width="400" height="578" uk-img/>
			</div>
		</div>

		<div class="uk-flex-middle" uk-grid>
			<div class="uk-width-2-3@m">
				<p>3. When the fee was paid, you can post your decision by clicking buttons in the contract dispute window.</p>
				<p>The side that you choose as a winner can claim funds locked on the contract.</p>
				<p>The service fee that plaintiff paid for your services will be unlocked to your deposit as soon as you post your decision.</p>
			</div>
			<div class="uk-width-1-3@m uk-flex-first">
				<img data-src="./assets/arbguide_resolve.png" width="400" height="578" uk-img/>
			</div>
		</div>
	</div>
</body>
</html>