<%- include('header.html') %>
	<div class="uk-container">
		<h2>Arbiter <%= real_name %></h2>
		<h4>Chat name - <%= device_name %></h4>
		<ul>
			<li> Service fees by contract type:
				<ul><% for (let [tag, value] of Object.entries(info.tags)) { %>
					<li><%= tag %>: <b><%= value %></b></li>
					<% } %>
				</ul>
			</li>
			<li> Languages:
				<ul><% for (let code of info.languages) { 
					var language = available_languages[code]; %>
					<li><%= language.name %> – <%= language.nativeName %></li>
					<% } %>
				</ul>
			</li>
			<li>Address: <b><%= address %></b></li>
			<li>Registered: <b><%= creation_date %></b></li>
			<li>Bio: <b><%= info.bio %></b></li>
			<li>Contracts resolved: <b><%= resolved_cnt %></b></li>
			<li>Last activity: <b><%= last_unit_date %></b></li>

		</ul>
	</div>
</body>
<script type="text/javascript">
$(document).ready(function() {
	$('.languages').select2();
});
</script>
</html>