<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- multi-select plugin -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>

		<style type="text/css">
			.saved {
				border-radius: 5px;
			}
		</style>
	</head>
	<body class="uk-margin-large uk-container uk-margin-top">
		<h2>Arbiter <%= real_name %></h2>
		<h4>Chat name - <%= device_name %></h4>
		<ul>
			<li> Service fees by contract type:
				<ul><% for (let [tag, value] of Object.entries(info.tags)) { %>
					<li><%= tag %>: <b><%= value %></b></li>
					<% } %>
				</ul>
			</li>
			<li> Languages:
				<ul><% for (let code of info.languages) { 
					var language = available_languages[code]; %>
					<li><%= language.name %> – <%= language.nativeName %></li>
					<% } %>
				</ul>
			</li>
			<li>Address: <b><%= address %></b></li>
			<li>Registered: <b><%= creation_date %></b></li>
			<li>Bio: <b><%= info.bio %></b></li>
			<li>Contracts resolved: <b><%= resolved_cnt %></b></li>
			<li>Lsat activity: <b><%= last_unit_date %></b></li>

		</ul>
	</body>
<script type="text/javascript">
$(document).ready(function() {
	$('.languages').select2();
});
</script>
</html>