<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- multi-select plugin -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
	</head>
	<body>
		<div class="uk-container">
			<article class="uk-article">
				<h1 class="uk-article-title">ArbStore</h1>
				<p class="uk-text-lead">Arbiters Store allows you to find and choose an arbiter for your <i>contract with arbiter</i> on Obyte platfom.</p>
				<p>If you wish to become an arbiter yourself, you can sign-up on this ArbStore by pairing with it's chatbot.</p>
			</article>
			<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-margin-top" uk-grid>
				<a class="uk-button" href="/list">
					<div class="uk-card uk-card-default uk-card-body">
						<h3 class="uk-card-title">Arbiters List</h3>
						<p>Find one that fits your contract needs.</p>
					</div>
				</a>
				<a class="uk-button" href="obyte:AsRQeE1D5LjUF3IjC/kSAgzpbaFytp4B26BZqVA8mizG@arbregistry.ngrok.io#0000">
					<div class="uk-card uk-card-primary uk-card-body">
						<h3 class="uk-card-title">Sign-up as Arbiter</h3>
						<p>Pair with chatbot and start signup process.</p>
					</div>
				</a>
			</div>
		</div>
	</body>
</html>