<%- include('header.html') %>
		<div class="uk-container">
			<article class="uk-article">
				<p class="uk-text-lead">Arbiters Store allows you to find and choose an arbiter for your <i>contract with arbitration</i> on Obyte platfom.</p>
				<p>If you wish to become an arbiter yourself, you can sign-up on this ArbStore by pairing with its chatbot. <a class="uk-button uk-button-primary" href="<%= pairing_link %>">
					Sign-up as Arbiter
				</a></p>
			</article>
			<ul class="uk-subnav uk-subnav-pill tags" uk-margin>
			</ul>
			<table class="uk-table uk-table-justify uk-table-divider uk-container">
				<thead>
					<tr>
						<th class="uk-width-small">Real Name</th>
						<th>Address</th>
						<th>Bio</th>
						<th>Cases resolved / Cases arbiter was picked / Desicion was appealed</th>
						<th>Last Case Resolved</th>
						<th>Last Activity</th>
					</tr>
				</thead>
				<tbody>
					<% arbiter_list.forEach(function(arbiter) { %>
						<tr data-hash="<%= arbiter.hash %>" onclick="window.location='/arbiter/<%= arbiter.hash %>';" class="arbiter">
							<td><%= arbiter.real_name %></td>
							<td><%= arbiter.address %></td>
							<td><%= arbiter.info.bio %></td>
							<td><%= arbiter.resolved_cnt %> / <%= arbiter.total_cnt %> / <%= -arbiter.reputation %></td>
							<td><%= arbiter.last_resolve_date %></td>
							<td><%= arbiter.last_unit_date %></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
<script type="text/javascript">
$(document).ready(function() {
var arbiters_by_tag = {};
<% let unique_tags = new Set();
arbiter_list.forEach(function(arbiter) { %>
	<% for (var tag in arbiter.info.tags) { 
		unique_tags.add(tag) %>
		if (!arbiters_by_tag["<%= tag %>"]) arbiters_by_tag["<%= tag %>"] = [];
		arbiters_by_tag["<%= tag %>"].push("<%= arbiter.hash %>");
	<% }; %>
<% }); 
for (let tag of unique_tags) { %>
	$('.tags').append('<li class="tag" data-tag="<%= tag %>"><a href="#"><%= tag %></a></li>');
<% } %>

var active_tags = {};

$('.tag').click(function(e) {
	e.preventDefault();
	var tag = $(this).text();
	active_tags[tag] = !active_tags[tag];
	rebuildHash();
});

function rebuildHash() {
	var new_hash = "";
	for (var tag in active_tags) {
		if (active_tags[tag])
			new_hash += "tag=" + encodeURIComponent(tag)+",";
	}
	window.location.hash = new_hash;
}

var key;
function onHashChange() {
	var hash = window.location.hash;
	$('.uk-active').removeClass('uk-active');
	if (hash && hash.length > 1) {
		$('tr[data-hash]').hide();
	} else {
		$('tr[data-hash]').show();
	}
	var tokens = hash.split(/[=,#]/).filter(function(el) {return el !== "";});
	for (var i=0; i < tokens.length; i++) {
		var token = tokens[i];
		if (i % 2 == 0)
			key = token;
		else {
			switch(key) {
				case "tag":
					if (arbiters_by_tag[token]) {
						arbiters_by_tag[token].forEach(function(hash) {
							$('tr[data-hash='+hash+']').show();
						});
						$('li[data-tag="'+token+'"]').toggleClass('uk-active');
					}
					break;
			}
		}
	}
}
$(window).on('hashchange', onHashChange);
onHashChange();
});
</script>
</html>