<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- multi-select plugin -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>

		<style type="text/css">
			.saved {
				border-radius: 5px;
			}
			.arbiter {
				cursor: pointer;
			}
			.arbiter:hover {
				background-color: #F9F9F9;
			}
		</style>
	</head>
	<body>
		<ul class="uk-subnav uk-subnav-pill tags" uk-margin>
		</ul>
		<table class="uk-table uk-table-justify uk-table-divider uk-container">
			<thead>
				<tr>
					<th class="uk-width-small">Real Name</th>
					<th>Address</th>
					<th>Bio</th>
					<th>№ Cases Resolved / Cases arbiter was picked</th>
					<th>Last Case Resolved</th>
					<th>Last Activity</th>
				</tr>
			</thead>
			<tbody>
				<% arbiter_list.forEach(function(arbiter) { %>
					<tr data-hash="<%= arbiter.hash %>" onclick="window.location='/arbiter/<%= arbiter.hash %>';" class="arbiter">
						<td><%= arbiter.real_name %></td>
						<td><%= arbiter.address %></td>
						<td><%= arbiter.info.bio %></td>
						<td><%= arbiter.resolved_cnt %> / <%= arbiter.resolved_cnt %></td>
						<td><%= arbiter.last_resolve_date %></td>
						<td><%= arbiter.last_unit_date %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</body>
<script type="text/javascript">
$(document).ready(function() {
	var arbiters_by_tag = {};
	<% let unique_tags = new Set();
	arbiter_list.forEach(function(arbiter) { %>
		<% for (var tag in arbiter.info.tags) { 
			unique_tags.add(tag) %>
			if (!arbiters_by_tag["<%= tag %>"]) arbiters_by_tag["<%= tag %>"] = [];
			arbiters_by_tag["<%= tag %>"].push("<%= arbiter.hash %>");
		<% }; %>
	<% }); 
	for (let tag of unique_tags) { %>
		$('.tags').append('<li class="tag" data-tag="<%= tag %>"><a href="#"><%= tag %></a></li>');
	<% } %>

	var active_tags = {};

	$('.tag').click(function(e) {
		e.preventDefault();
		var tag = $(this).text();
		active_tags[tag] = !active_tags[tag];
		rebuildHash();
	});

	function rebuildHash() {
		var new_hash = "";
		for (var tag in active_tags) {
			if (active_tags[tag])
				new_hash += "tag=" + encodeURIComponent(tag)+",";
		}
		window.location.hash = new_hash;
	}

	var key;
	function onHashChange() {
		var hash = window.location.hash;
		$('.uk-active').removeClass('uk-active');
		if (hash && hash.length > 1) {
			$('tr[data-hash]').hide();
		} else {
			$('tr[data-hash]').show();
		}
		var tokens = hash.split(/[=,#]/).filter(function(el) {return el !== "";});
		for (var i=0; i < tokens.length; i++) {
			var token = tokens[i];
			if (i % 2 == 0)
				key = token;
			else {
				switch(key) {
					case "tag":
						if (arbiters_by_tag[token]) {
							arbiters_by_tag[token].forEach(function(hash) {
								$('tr[data-hash='+hash+']').show();
							});
							$('li[data-tag="'+token+'"]').toggleClass('uk-active');
						}
						break;
				}
			}
		}
	}
	$(window).on('hashchange', onHashChange);
	onHashChange();
});
</script>
</html>