<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- multi-select plugin -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
	</head>
	<body>
		<div class="uk-section uk-section-primary uk-light">
			<div class="uk-container">
				<article class="uk-article">
					<h1 class="uk-article-title">Moderator Login</h1>
				</article>
			</div>
		</div>
		<div class="uk-card uk-card-body">
			<p>Please pair with the wallet you setup in your ArbStore config under <code>ModeratorDeviceAddress</code> variable.</p>
			<o>Pairing code: <a href="obyte:<%= pairing_code %>"><%= pairing_code %></a></o>
		</div>
	</body>
<script type="text/javascript">
$(document).ready(function() {
	setInterval(function() {
		$.get('/moderator/checklogin', function(data){
			if (data != 'false')
				window.location.href = '/moderator';
		});
	}, 500);
});
</script>
</html>