<%- include('header.html') %>
<div class="uk-container">
		<div class="uk-card uk-card-body">
			<p>Please pair with the wallet you setup in your ArbStore config under <code>ModeratorDeviceAddresses</code> variable.</p>
			<o>Pairing code: <a href="obyte:<%= pairing_code %>"><%= pairing_code %></a></o>
			<div id="qrcode"></div>
		</div>
</div>
	</body>
<script type="text/javascript">
$(document).ready(function() {
	setInterval(function() {
		$.get('/moderator/checklogin?secret=<%= encodeURIComponent(secret) %>', function(data){
			if (data != 'false')
				window.location.href = '/moderator';
		});
	}, 500);
});
new QRCode(document.getElementById("qrcode"), "<%= pairing_code %>");
</script>
</html>