<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- multi-select plugin -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>

		<style type="text/css">
			.saved {
				border-radius: 5px;
			}
		</style>
	</head>
	<body>
		<ul class="uk-subnav uk-subnav-pill tags" uk-margin>
		</ul>
		<table class="uk-table uk-table-justify uk-table-divider uk-container">
			<thead>
				<tr>
					<th class="uk-width-small">hash</th>
					<th>Title</th>
					<th>Arbiter address</th>
					<th>Winner</th>
					<th>appeal date</th>
				</tr>
			</thead>
			<tbody>
				<% contracts.forEach(function(contract) { %>
					<tr data-hash="<%= contract.hash %>" onclick="window.location='/moderator/<%= encodeURIComponent(contract.hash) %>';">
						<td><%= contract.hash %></td>
						<td><%= contract.contract.title %></td>
						<td><%= contract.arbiter_address %></td>
						<td><%= contract.winner %></td>
						<td><%= contract.status_change_date %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</body>
</html>