<!DOCTYPE html>
<html>
	<head>
		<title>ArbStoreWeb</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Inevitable thing -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>

		<!-- Markdown -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.6/markdown-it.min.js" integrity="sha512-7U8vY7c6UQpBNQOnBg3xKX502NAckvk70H1nWvh6W7izA489jEz+RCN3ntT1VMdXewaSKkOrEBegp/h6SPXrjw==" crossorigin="anonymous"></script>
	</head>
	<body class="uk-margin-large uk-container uk-margin-top">
		<h2>Contract <%= contract.title %></h2>
		<h4>Updated on <%= status_change_date %></h4>
		<ul>
			<li>Hash is valid: <% if (is_hash_valid) { %><span class="uk-label uk-label-success">Yes</span><% } else { %><span class="uk-label uk-label-danger">NO!</span><% } %></li>
			<li>Creation Date: <b><%= new Date(contract.creation_date.replace(" ", "T")+".000Z").toLocaleString() %></b></li>
			<li>Arbiter: <b><%= arbiter.real_name %></b> (<a href="/arbiter/<%= arbiter.hash %>"><%= arbiter_address %></a>)</li>
			<li>Plaintiff address: <b><%= plaintiff_side == 1 ? side1_address : side2_address %></b><% if (winner_side == plaintiff_side) { %> <span class="uk-label uk-label-default">winner</span><% } %> (<%= plaintiff_side == 1 ? (side1_attested ? '' : 'NOT ') : (side2_attested ? '' : 'NOT ') %>attested)</li>
			<li>Defendant address: <b><%= plaintiff_side == 1 ? side2_address : side1_address %></b><% if (winner_side != plaintiff_side) { %> <span class="uk-label uk-label-default">winner</span><% } %> (<%= plaintiff_side == 1 ? (side2_attested ? '' : 'NOT ') : (side1_attested ? '' : 'NOT ') %>attested)</li>
			<li>Title: <b><%= contract.title %></b></li>
			<li>Text: <span id="text"><%= contract.text %></span></li>
		</ul>

		<ul>
			<li>Dispute plaintiff pairing code: <a href="obyte:<%= plaintiff_pairing_code %>"><%= plaintiff_pairing_code %></a><% if (plaintiff_side != winner_side) { %> <span class="uk-label uk-label-default">appellant</span><% } %></li>
			<li>Defendant pairing code: <a href="obyte:<%= plaintiff_pairing_code %>"><%= peer_pairing_code %></a><% if (plaintiff_side == winner_side) { %> <span class="uk-label uk-label-default">appellant</span><% } %></li>
			<li>Arbiter pairing code: <a href="obyte:<%= arbiter.info.pairing_code %>"><%= arbiter.info.pairing_code %></a></li>
		</ul>

		<% if (status === 'in_appeal') { %>
		<button class="uk-button uk-button-default uk-margin-right decline">Decline</button> <button class="uk-button uk-button-primary approve">Approve appeal</button>
		<% } else { %>
		<ul>
			<li>Status: <span class="uk-text-<%= status == 'appeal_declined' ? 'danger' : 'success' %> %>"><%= status == 'appeal_declined' ? 'declined' : 'approved' %></span></li>
		</ul>
		<% } %>
	</body>
<script type="text/javascript">
$(document).ready(function() {
	$('.decline,.approve').click(function(e){
		var action = $(this).hasClass('approve') ? 'approve' : 'decline';
		if (!confirm("Are you sure you want to " + action + " appeal?"))
			return;
		$.post('?action=' + action, function(){
			window.location.reload();
		}).fail(function(data) {
			alert(data.responseText);
		});
	});
	var md = window.markdownit({linkify: true}).disable(['image', 'link']);
	$('#text').html(md.render($('#text').html()));
});
</script>
</html>