<%- include('header.html') %>
	<div class="uk-container">
		<ul uk-tab>
			<li class="uk-active"><a href="">Pending appeals</a></li>
			<li><a href="">Closed appeals</a></li>
		</ul>
		<ul class="uk-switcher">
			<li>
				<table class="uk-table uk-table-justify uk-table-divider uk-container">
					<thead>
						<tr>
							<th class="uk-width-small">hash</th>
							<th>Title</th>
							<th>Arbiter address</th>
							<th>appeal date</th>
						</tr>
					</thead>
					<tbody>
						<% in_appeal.forEach(function(contract) { %>
							<tr data-hash="<%= contract.hash %>" onclick="window.location='/moderator/<%= encodeURIComponent(contract.hash) %>';">
								<td><%= contract.hash %></td>
								<td><%= contract.contract.title %></td>
								<td><%= contract.arbiter_address %></td>
								<td><%= contract.status_change_date %></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</li>
			<li>
				<table class="uk-table uk-table-justify uk-table-divider uk-container">
					<thead>
						<tr>
							<th class="uk-width-small">hash</th>
							<th>Title</th>
							<th>Arbiter address</th>
							<th>appeal date</th>
							<th>status</th>
						</tr>
					</thead>
					<tbody>
						<% closed.forEach(function(contract) { %>
							<tr data-hash="<%= contract.hash %>" onclick="window.location='/moderator/<%= encodeURIComponent(contract.hash) %>';">
								<td><%= contract.hash %></td>
								<td><%= contract.contract.title %></td>
								<td><%= contract.arbiter_address %></td>
								<td><%= contract.status_change_date %></td>
								<td class="uk-text-<%= contract.status == 'appeal_declined' ? 'danger' : 'success' %> %>"><%= contract.status == 'appeal_declined' ? 'declined' : 'approved' %></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</li>
		</ul>
		<script type="text/javascript">
			$('ul.uk-switcher > li').on('shown', function(el) {
				location.hash = $(this).index();
			});
			UIkit.tab('ul[uk-tab]').show(location.hash.substr(1));
		</script>
	</div>
</body>
</html>